<a href="/alesheets/logout/">Log out</a> |
<a href="/admin/alesheets/transaction/add/" target="alesheets_admin">Add Transaction</a> |
<a href="/alesheets/computebal/">Compute balances (fast)</a> |
<a href="/alesheets/balances">All balances</a> |
<a href="/alesheets/balchanges/31/">Balance changes (last 31 days)</a>

<br>

<input id="keyword" onkeyup="document.getElementById('search_link').href='/alesheets/search/'+document.getElementById('keyword').value" onkeydown="if (event.keyCode==13) document.getElementById('search_link').click()">
<a href="/alesheets/search/" id="search_link">search</a>
<br>
<!--
    <br>
Assets:
{% for account in asset_accounts %}
<a href="/alesheets/account/{{ account.short_name }}/">{{account.short_name }}</a> | 
{% endfor %}
<br>
<a href="/alesheets/category/Expense/31/"><b>Expenses:</b></a>
{% for account in expense_accounts %}
<a href="/alesheets/account/{{ account.short_name }}/">{{account.short_name }}</a> | 
{% endfor %}
<br>

Liabilities:
{% for account in liability_accounts %}
<a href="/alesheets/account/{{ account.short_name }}/">{{account.short_name }}</a> | 
{% endfor %}

| Equity:
{% for account in equity_accounts %}
<a href="/alesheets/account/{{ account.short_name }}/">{{account.short_name }}</a> | 
{% endfor %}

| Income:
{% for account in income_accounts %}
<a href="/alesheets/account/{{ account.short_name }}/">{{account.short_name }}</a> | 
{% endfor %}
<hr>

-->
