<html>
  <head>
    <title>
      ALE Sheets Account view
    </title>
  </head>
  
  <body>
    {% include "alesheets/allaccts.html" %}

    {{ account_name }} |
    <a href="../31/">31 days</a> |
    <a href="../7/">7 days</a> |
    <a href="../3/">3 days</a> |
    <a href="../1/">1 day</a>

    <br>

    <a href="/admin/alesheets/transaction/add/" target="alesheets_admin">Add Transaction</a>
    <br><br>
    <b>{{ report_type }}, Total:</b> {{ total }}

    <pre>
      Credit transactions (should be empty):
      {% for transaction in credit_transactions %} {{ transaction }} {% endfor %}

      Daily totals:
      
      {% for day, daily_total in daily_totals %} {{ day }}  {{ daily_total|floatformat:2 }}
      {% endfor %}

      Debit transactions:
      {% for transaction in transactions %}
       {{ transaction }}
      {% endfor %}
    </pre>
  </body>
</html>

